In [1]:
import numpy as np
import pandas as pd

In [ ]:
columns_dtype = {
    "Mã thuế": str,
    "Tên thuế": str,
    "Phần trăm thuế": int,
}
df = pd.read_excel('test.xlsx', dtype=columns_dtype)
df

ValueError: Unable to convert column Phần trăm thuế to type int64 (sheet: 0)

In [3]:
import pandas as pd
import random
from faker import Faker
from tqdm import tqdm


fake = Faker()

data = [
    ["MST123", "khang đẹp trai", 10],
    ["MST234", "Khang rất đẹp trai", 20],
    ["123", "234", "khang"],  
    ["hihi", "456", "hehe", "haha"],
    ["hihi", "456", "hehe", "haha"],
    ["hihi", "456", "hehe", "haha"],
    ["hihi", "456", "hehe", "haha"],
    ["hihi", "456", "hehe", "haha"],
    ["hihi", "456", "hehe", "haha"],
]

def generate_fake_row():
    ma_thue = random.choice([fake.uuid4()[:6], str(random.randint(100, 999)), fake.word(), ""])
    
    ten_thue = random.choice([fake.name(), fake.sentence(), str(random.randint(100, 999)), ""])
    
    phan_tram_thue = random.choice([random.randint(1, 50), fake.word(), ""]) 
    
    test1 = fake.date_time_this_decade() 
    
    test2 = random.choice([random.randint(1, 50), fake.word(), "", fake.date_time_this_decade()]) 
    
    test3 = random.choice([random.randint(1, 50), fake.word(), ""]) 
    
    test4 = random.choice([random.randint(1, 50), fake.word(), ""]) 
    
    test5 = random.choice([random.randint(1, 50), fake.word(), ""]) 
    
    test6 = random.choice([random.randint(1, 50), fake.word(), ""]) 
    
    return [ma_thue, ten_thue, phan_tram_thue, test1, test2, test3, test4, test5, test6]

fake_data = [generate_fake_row() for _ in tqdm(range(100))]  

df = pd.DataFrame(data + fake_data, columns=["Mã thuế", "Tên thuế", "Phần trăm thuế", "test1", "test2", "test3", "test4", "test5", "test6"])

df.to_excel("fake_data.xlsx", index=False)

print(df)

100%|██████████| 100/100 [00:00<00:00, 1525.00it/s]

    Mã thuế            Tên thuế Phần trăm thuế                       test1  \
0    MST123      khang đẹp trai             10                        None
1    MST234  Khang rất đẹp trai             20                        None
2       123                 234          khang                        None
3      hihi                 456           hehe                        haha
4      hihi                 456           hehe                        haha
..      ...                 ...            ...                         ...
104                Deborah Luna              6  2020-11-27 16:30:55.938304
105                                             2024-12-30 08:32:51.032449
106     998         Gary Foster      community  2023-11-03 05:26:52.169095
107  0fec44                 743             12  2021-11-06 03:55:37.276401
108  spring                 845                 2023-05-21 02:24:36.073845

                          test2 test3 test4        test5    test6
0                          None  None  None         None     None
1                          None  None  None         None     None
2                          None  None  None         None     None
3                          None  None  None         None     None
4                          None  None  None         None     None
..                          ...   ...   ...          ...      ...
104                 development    28    25           34       19
105  2024-02-02 03:28:14.069675    38    10  environment   father
106                   necessary          43                   box
107                   beautiful    18                 15  culture
108  2024-04-04 19:52:02.517494    33    30                    17

[109 rows x 9 columns]

In [11]:
df.to_csv("test.csv", index=False)

In [14]:
df.iloc[:1000000].to_excel("test.xlsx", index=False)

In [2]:
import pandas as pd
df_test = pd.read_excel("test.xlsx")

In [3]:
df_test

       Mã thuế                          Tên thuế Phần trăm thuế
0       MST123                    khang đẹp trai             10
1       MST234                Khang rất đẹp trai             20
2          123                               234          khang
3          775                      Renee Garcia             26
4       ab08da                               653            NaN
...        ...                               ...            ...
999995  71b192           Watch democratic major.             20
999996  series  Gas point stand require partner.            NaN
999997     548  Plant fly part we well business.              5
999998  dc1bc0                               545           city
999999  38c52e                               151              5

[1000000 rows x 3 columns]

In [4]:
df_test.iloc[:100000].to_excel('test_100k.xlsx')

In [5]:
from collections import defaultdict
import json

# Dữ liệu gốc
data = [
    {"columns": "Ma thue", "row": [2, 3]},
    {"columns": "Ten thue", "row": [3]}
]

# Dùng defaultdict để gom nhóm nhanh hơn
grouped_data = defaultdict(list)

# Trực tiếp lặp và nhóm dữ liệu
for item in data:
    for row in item["row"]:
        grouped_data[row].append(item["columns"])

# Chuyển về danh sách kết quả
result = [{"row": row, "cols": cols} for row, cols in grouped_data.items()]

# In kết quả
print(json.dumps(result, indent=2, ensure_ascii=False))

[
  {
    "row": 2,
    "cols": [
      "Ma thue"
    ]
  },
  {
    "row": 3,
    "cols": [
      "Ma thue",
      "Ten thue"
    ]
  }
]